@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    border: 1px solid black;
    width: 500px;
    box-shadow: 10px;
}

.card{
    /* border: 1px solid black; */
    border-radius: 5px;
}